<!DOCTYPE html>
<html>
<head>
  <title>WithoutScaffold</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id='header' class='headfoot'>
  <div id='searching'>
    <%= render :partial =>"search"%>
  </div>
  <div id='main_heading'>ğŒ°ğ‡ğŒ´ ğŒ½ğŒ°ğ‰Ï…ğŒ¹</div>

</div>


<div id='main_body'>
  <%= yield %>
</div>

<div id='footer' class='headfoot'>
  ğŒ°ğ‡ğŒ´ ğŒ½ğŒ°ğ‰Ï…ğŒ¹<br/>
  <p>All rights reserved..2011-2012</p>
</div>

</body>
</html>
